* {
    box-sizing: border-box;

}

body {
    background: silver;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    margin-left: 30%;

}

h1 {
    color: purple;
    text-align: left;
}


* {
    box-sizing: border-box;
}

.highlight {
    background-color: green;
}

.error {
    background-color: lightcoral;
    border: red;
}

button {
    border-radius: 50px;
    background: purple;
    color: white;
}